@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Mobile first */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Inter", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

img {
  display: block;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* Sitcky footer */

.site-main {
  flex-grow: 1;
}

.main_layout {
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: #f0f2fa;
}

@layer {
  .student-table {
    display: grid;
    grid-template-columns: 70px repeat(4, minmax(0, 1fr)) 300px;
  }
}

@layer {
  .teachers-table {
    display: grid;
    grid-template-columns: 70px repeat(4, minmax(200px, 1fr));
  }
}

.search_input {
  background-position: left 16px center;
}

.DialogOverlay {
  background: rgba(0 0 0 / 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  overflow-y: auto;
}

.DialogContent {
  min-width: 300px;
  background: white;
  padding: 30px;
  border-radius: 4px;
}
