@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Mobile first */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Inter", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

img {
  display: block;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* Sitcky footer */

.site-main {
  flex-grow: 1;
}

.main_layout {
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: #f0f2fa;
}
